.masked-text {
  transition: all 0.5s ease-in-out;
  white-space: pre-wrap;
  user-select: none;
}

.mask {
  position: relative;
  color: transparent;
}

.mask::before {
  content: "•••";
  color: black;
  position: absolute;
  left: 0;
  top: 0;
}

.mask:hover {
  color: black;
}

.mask:hover::before {
  content: attr(data-text);
}
